$primary: #0099ff;
$danger: #ff7f50;
$success: #00cc66;
$warning: #FFD700;
$enable-negative-margins: true;
$nav-link-padding-x: 0;

$position-values: (
  0: 0,
  50: 50%,
  93: 93%,
  100: 100%,
);

@import "../../node_modules/bootstrap/scss/bootstrap";


.navbar-toggler:focus {
  border: 0 !important;
  box-shadow: none !important;  
}

// Negtive margin
.mt-n9 {
  margin-top: -10rem;
}

// Navigation link color
.nav-link-muted {
  color: #d8d8d8 !important;
}

// Navigation link color on hover
.nav-link-muted:hover {
  color: $primary !important;
}

// Margin between sections
.sm-100{
  margin: 100px auto 0 auto;
};

// Width

.w-300px {
  width: 300px;
};

// Height
.h-40px {
  height: 40px !important;
}

// Glass bg for cards

.bg-glass {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, .15);
};

.nav-link{
  width: fit-content;
};